- cache diseno_textual do
  .row-fluid
    .span1.coste=  diseno_textual.coste
    .span9.nombre= diseno_textual.nombre
    .span2
  .row-fluid
    .span1
    .span9.tipos= diseno_textual.linea_de_tipos
    .span2.senda=  diseno_textual.senda
  .row-fluid.caja-de-texto
    .span12= diseno_textual.texto
  .row-fluid
    .span12.ambientacion
      %p= diseno_textual.ambientacion
  .row-fluid.stats
    .span1= diseno_textual.fue
    .span1.offset10= diseno_textual.res
