%h1= titulo

.row-fluid
  .span12
    - if @versiones.any?
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @versiones,
                          paginar: true }
    - else
      %p
        Tu
        = @tipo_de_lista
        está vacía.
        ¿Por qué no le
        #{link_to 'agregás', edit_coleccion_path}
        algunas cartas?

= link_to 'Tus otras listas', usuario_listas_path(current_usuario), class: 'btn'
