%h1= titulo

.row-fluid
  .span12
    - if @versiones.any?
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @versiones,
                          paginar: true }
    - else
      = render partial: 'comunes/ala_vacia'

.row-fluid.botones
  .span12
    - if can? :edit, @usuario.coleccion
      = link_to 'Editar', edit_usuario_coleccion_path(@usuario),
        class: 'btn btn-warning'
    = link_a_lista_opuesta
    = link_to 'Más listas', usuario_listas_path(@usuario), class: 'btn'
