%a{name: "post-#{post.id}"}
.reply_to_post.post{id: "post_#{post.id}", class: cycle('odd', 'even')}
  .row-fluid
    .span2.user
      .icon.span6.hidden-phone= post.user.decorate.algun_avatar_tag
      .username
        = link_to_if Forem.user_profile_links, post.user, [main_app, post.user]

    .contents.span10
      .row-fluid
        .span1
          %time{datetime: post.created_at.to_s(:db)}
            = "#{time_ago_in_words(post.created_at)} #{t("ago")}"
        .span9= forem_format(post.text)
        .span2
          - if post.reply_to
            %span.in_reply_to
              = link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user}", "#post-#{post.reply_to.id}"
