= render partial: 'forem/forums/head', locals: { forum: @topic.forum }

%h2= t("forem.post.edit", post: @post)

= form_for [forem, @topic, @post], html: { class: 'form post' } do |f|

  = render partial: "form", locals: { f: f }

  .row-fluid.botones
    .span12
      = f.submit t("forem.post.buttons.edit"), class: "btn btn-success"

= render partial: 'forem/forums/foot', locals: { forum: @topic.forum }
