= render partial: 'forem/forums/head', locals: { forum: @topic.forum }

%h2= t("forem.post.new")

.row-fluid
  .span12
    - if @reply_to_post
      = render 'reply_to_post', post: @reply_to_post
    - else
      %em= @topic.subject

%hr

= form_for [forem, @topic, @post], html: { class: 'form post' } do |f|
  = render partial: "form", locals: { f: f }
  .row-fluid
    .span12
      = f.submit t("forem.post.buttons.reply"), class: "btn btn-success"

= render partial: 'forem/forums/foot', locals: { forum: @topic.forum }
