.row-fluid
  .span1=  carta.canonica.coste
  .span9.nombre= carta.nombre
  .span2
.row-fluid
  .span1
  .span9.tipos= carta.canonica.linea_de_tipos
  .span2.senda=  carta.canonica.senda
.row-fluid.caja-de-texto
  .span12= carta.canonica.texto
.row-fluid
  .span12.ambientacion= carta.canonica.ambientacion
.row-fluid
  .span1= carta.canonica.fue
  .span1.offset10= carta.canonica.res
.row-fluid
  .span8= carta.canonica.numeracion
  .span4.rareza= carta.canonica.rareza
.row-fluid
  .span12.arte= carta.canonica.arte
