.row-fluid
  .span1=  version.coste
  .span9.nombre= carta.nombre
  .span2
.row-fluid
  .span1
  .span9.tipos= version.linea_de_tipos
  .span2.senda=  version.senda
.row-fluid.caja-de-texto
  .span12= version.texto
.row-fluid
  .span12.ambientacion
    %p= version.ambientacion
.row-fluid
  .span1= version.fue
  .span1.offset10= version.res
.row-fluid
  .span8= version.numeracion
  .span4.rareza= version.rareza
.row-fluid
  .span12.arte
    arte:
    = version.arte
