= form_for @carta, html: { class: 'form span6' } do |f|
  = f.error_messages

  = f.fields_for :versiones, @carta.versiones.build do |fc|

    .row-fluid
      .span6
        = f.label :nombre
        = f.text_field :nombre, class: 'span12'
      .span3
        = fc.label :coste
        = fc.text_field :coste, class: 'span12'
      .span3
        = fc.label :senda
        = fc.select :senda, sendas, { }, class: 'span12'

    .row-fluid
      .span4
        = fc.label 'Tipos'
        = fc.autocomplete_field :tipo, completar_tipo_versiones_path,
          class: 'span12', placeholder: 'Aliado, Objeto, etc'
      .span4
        = fc.label 'Supertipos'
        = fc.autocomplete_field :supertipo, completar_supertipo_versiones_path,
           class: 'span12', placeholder: 'Demonio, Instantáneo, etc'
      .span4
        = fc.label 'Subtipos'
        = fc.autocomplete_field :subtipo, completar_subtipo_versiones_path,
           class: 'span12', placeholder: 'Reptil, Bot, etc'

    .row-fluid
      .span12
        = fc.label :texto
        = fc.text_area :texto, rows: 5, class: 'span12'

    .row-fluid
      .span12
        = fc.label 'Ambientación'
        = fc.text_area :ambientacion, rows: 5, class: 'span12'

    .row-fluid
      .span4
        = fc.label 'Expansión'
        = fc.hidden_field :expansion_id
        = fc.autocomplete_field :expansion,
          autocompletar_nombre_expansiones_path, id_element: 'asad'

    = f.submit 'Guardar', class: 'btn'
