.row-fluid
  .span12
    = search_form_for @busqueda,  url: buscar_cartas_path,
                                      html: { method: :post, class: 'form-search'} do |f|

      .row-fluid
        .span2
          = label_tag 'En las sendas'
        .span10
          - sendas.each do |senda|
            = busqueda_check_tag senda, "q[versiones_senda_eq_any][]"

      .row-fluid
        .span2
          = label_tag 'Filtradas por'
        .span10
          = busqueda_check_tag 'Nombre',        'incluir[]', nombre: 'nombre'
          = busqueda_check_tag 'Tipos',         'incluir[]', nombre: versiones_tipos
          = busqueda_check_tag 'Texto',         'incluir[]', nombre: 'versiones_texto'
          = busqueda_check_tag 'Ambientación',  'incluir[]', nombre: 'versiones_ambientacion'

      .row-fluid
        .span2
          = f.label busqueda, 'Que contienen'
        .span10
          = f.text_field busqueda, class: 'input-xlarge search-query'
          = f.submit class: 'btn'

.row-fluid
  .span12
    %h2.plegable Resultados
    - if params[:q].present?
      .row-fluid
        .span12= label_tag t '.encontradas', count: @cartas.size
    .row-fluid
      .span12= render partial: 'layouts/galeria',
                      locals: { imagenes: @cartas.sort_by { |c| c.prioridad },
                                estilo: :original }
