.row-fluid
  .span12
    %h2.plegable Simple
    = search_form_for @busqueda,  url: buscar_cartas_path,
                                      html: { method: :post, class: 'form-search'} do |f|

      .row-fluid
        .span3
          = f.label busqueda_simple, 'Por nombre, tipos o texto'
        .span9
          = f.text_field busqueda_simple, class: 'input-xlarge'

      .row-fluid
        .span3
          = label_tag 'Sendas'
        .span9
          - sendas.each do |senda|
            = busqueda_check_tag senda, 'versiones_senda_eq_any'

      .row-fluid
        .span12
          = f.submit class: 'btn'

.row-fluid
  .span12
    %h2.plegable Resultados
    - if params[:q].present?
      .row-fluid
        .span12= label_tag t '.encontradas', count: @cartas.size
    .row-fluid
      .span12= render partial: 'layouts/galeria',
                      locals: { imagenes: @cartas.sort_by { |c| c.prioridad },
                                estilo: :original }
