%h1= titulo
.row-fluid
  .span12
    = search_form_for @busqueda,  url: cartas_busqueda_index_path,
                                  html: { method: :post, class: 'form-search'} do |f|

      .row-fluid
        .span2= label_tag 'En las sendas'
        .span4
          = select_tag 'q[versiones_senda_eq_any]',
              options_for_select(sendas, seleccionadas(:senda)),
              multiple: true, class: 'span12', title: 'Todas'

        .span2= label_tag 'De rarezas'
        .span4
          = select_tag 'q[versiones_rareza_eq_any]',
              options_for_select(rarezas, seleccionadas(:rareza)),
              multiple: true, class: 'span12', title: 'Todas'

      .row-fluid
        .span2= label_tag 'En las expansiones'
        .span4
          = select_tag 'q[versiones_expansion_id_eq_any]',
              options_from_collection_for_select(expansiones, :id, :nombre, seleccionadas(:expansion)),
              multiple: true, class: 'span12', title: 'Todas'

        .span2= label_tag 'Y mostrarlas estilo'
        .span4
          = select_tag 'mostrar[tipo]',
              options_for_select(ImagenDecorator.estilos_para_select, tipo_actual), class: 'span12'

      .row-fluid
        .span2= f.label busqueda, 'Con el texto'
        .span4= f.text_field busqueda, class: 'span12'

        .span2= label_tag 'En'
        .span4
          = select_tag 'incluir',
              options_for_select(campos_de_busqueda, seleccionadas(:campo)),
              multiple: true, class: 'span12', title: 'Cualquier lado'

      .row-fluid
        .span12
          = f.submit class: 'btn btn-success'

.row-fluid.botones
  .span12
    = link_to 'Búsqueda global', new_busqueda_path, class: 'btn btn-info'

.row-fluid
  .span12
    - if params[:q].present?
      %h2.plegable Resultados
      .row-fluid
        .span12= label_tag t '.encontradas', count: @cartas.count
    .row-fluid
      .span12= render partial: 'layouts/galeria',
                      locals: { imagenes: @cartas.sort_by { |c| c.prioridad } }
