%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @cartas.each do |carta|
    %tr
      %td= carta.nombre
      %td= link_to 'Show', carta
      %td= link_to 'Edit', edit_carta_path(carta)
      %td= link_to 'Destroy', carta, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Carta', new_carta_path
