%h1= titulo
#lista
  = paginacion_tag @cartas

  -# TODO en vez de esconder elementos y chau, mostrarlos cuando clickee en la fila
  #cartas.tabla-fluida
    #encabezado.row-fluid
      -# TODO sort_link debería agregar el orden ya pedido (ordenar por senda y coste)
      .nombre.span3= sort_link @busqueda, :nombre, opciones_de_ordenar
      .coste.span1.hidden-phone= sort_link @busqueda, :canonica_coste_convertido, 'Coste', opciones_de_ordenar
      .senda.span1.visible-desktop= sort_link @busqueda, :canonica_senda, 'Senda', opciones_de_ordenar
      .senda.span1.visible-desktop= sort_link @busqueda, :canonica_rareza, 'Rareza', opciones_de_ordenar
      .tipo.span3.hidden-phone Tipo
      .expansion.span3.hidden-phone Expansiones

    = render @cartas

  - if can? :create, Carta
    = link_to 'Cargar Carta', new_carta_path
