#lista
  = paginacion_tag @cartas

  #cartas.tabla-fluida
    #encabezado.row-fluid
      .nombre.span4= sort_link @busqueda, :nombre, opciones_de_ordenar
      .nombre.span1= sort_link @busqueda, :canonica_coste_convertido, 'Coste', opciones_de_ordenar
      .nombre.span3 Tipo
      .nombre.span4 Expansiones

    = render @cartas

  = paginacion_tag @cartas, id: 'paginacion-inferior'

  - if can? :create, Carta
    = link_to 'Cargar Carta', new_carta_path
