%h1= titulo
.row-fluid
  #carta.span5
    .row-fluid
      .span12
        %h2 Texto oficial
        = render  partial: 'versiones/version_textual', object: @carta.canonica
      .span12
        %h3 Versiones
        %ul.versiones.nav.nav-pills
          - @carta.versiones.each do |v|
            %li= link_to "#{v.expansion}", [@carta, v]

  .span7
    %h2 Imágenes
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @carta.canonica.imagenes,
                        estilo: :original }

- if can? :edit, @carta
  = link_to 'Editar', edit_carta_path(@carta), class: 'btn'
