%h1= titulo
.row-fluid
  #carta.span5
    .row-fluid
      .span12
        = render  partial: 'versiones/version_textual', object: version
      .span12
        %h3 Versiones
        %ul.versiones.nav.nav-pills
          - carta.versiones.each do |v|
            %li= link_to "#{v.expansion}", en_expansion_carta_path(@carta, v.expansion)

      - if @version.links.any?
        .span12
          %h3 Páginas relacionadas
          %ul.links.nav.nav-pills
            = render @version.links

  .span7
    = render  partial: 'layouts/galeria',
              locals: { imagenes: version.imagenes,
                        estilo: :original }

- if can? :edit, @version
  = link_to 'Editar esta versión', edit_carta_version_path(@carta, @version), class: 'btn'
- if can? :create, Version
  = link_to 'Nueva version', new_carta_version_path(@carta), class: 'btn'
- if can? :create, Carta
  = link_to 'Nueva carta', new_carta_path, class: 'btn'
