%h1= titulo
.row-fluid
  #carta.span5
    .row-fluid
      .span12
        %h2 Texto oficial
        = render  partial: 'versiones/version_textual', object: @carta.canonica
      .span12
        %h2 Versiones
        %ul.versiones
          - @carta.versiones.each do |v|
            %li
              .icon-arrow-right
              = link_to "de #{v.expansion}", [@carta, v]

  .span7
    %h2 Imágenes
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @carta.canonica.imagenes,
                        estilo: :original }
