= form_for @lista do |f|
  - if @lista.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lista.errors.count, "error")} prohibited this lista from being saved:"
      %ul
        - @lista.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
