= form_for [current_usuario, lista], html: { class: 'form lista' } do |f|
  = f.error_messages

  .row-fluid
    .span11
      = f.label :nombre
      = f.text_field :nombre, class: 'span12', required: true, autofocus: true
    .span1
      = f.label :visible
      = f.check_box_bootstrap :visible, class: 'span12'

  .row-fluid
    .span12
      = f.label :notas
      = f.text_area :notas, class: 'span12', rows: 5

  .nestear
    .row-fluid
      .span12.items
        = f.nested_fields_for :slots, new_object: nuevo_slot, show_empty: true,
          render_template: false do |fs|
          - if fs
            .item= render partial: 'slots/slot', locals: { f: fs }
          - else
            .empty Nada cargado

        = nested_fields_templates

    .row-fluid
      .span1
        = link_to '+', '#', class: 'add btn', data: no_turbolink

  .row-fluid.botones
    .span12
      = f.submit 'Guardar', class: 'btn btn-success'
