- cache [params[:action], lista] do
  .row-fluid
    .nombre.span4
      = link_to_mostrar [lista.usuario, lista], lista.nombre
    .notas.span4= lista.extracto
    - if params[:action] == 'todo'
      .usuario.span2= link_to lista.usuario.nick, lista.usuario
    - else
      .visibilidad.span2= lista.visibilidad
    .cantidad.span2= lista.cantidad
