%h1= titulo

= render 'form'

.row-fluid.botones
  .span12
    = link_to 'Mostrar', [@usuario, @lista], class: 'btn'
    - if can? :delete, @lista
      = link_to 'Eliminar', [@usuario, @lista], method: :delete,
        data: { confirm: t(:confirmar) }, class: 'btn btn-danger'
    = link_to 'Más listas', usuario_listas_path(@usuario), class: 'btn'
