%h1= titulo
#lista
  = paginacion_tag @listas

  #listas.tabla-fluida
    #encabezado.row-fluid
      .nombre.span12= sort_link @busqueda, :nombre, 'Nombre',
        opciones_de_ordenar

    = render @listas

- if usuario_signed_in?
  = link_to 'Crear una lista', new_usuario_lista_path(current_usuario)
