%h1= titulo
#lista
  - if @listas.any?
    = paginacion_tag @listas

    #listas.tabla-fluida
      #encabezado.row-fluid
        .nombre.span8= sort_link @busqueda, :nombre, 'Nombre',
          opciones_de_ordenar
        .visibilidad.span2= sort_link @busqueda, :visible, 'Visibilidad',
          opciones_de_ordenar
        .cantidad.span2 Cantidad

      = render partial: 'lista', collection: @listas
  - else
    = render partial: 'comunes/ala_vacia'

  .row-fluid.botones
    .span12
      - if can? :create, Lista
        = link_to 'Crear una lista', new_usuario_lista_path(current_usuario),
          class: 'btn btn-info', data: no_turbolink
