%h1
  = titulo
  = lista.visibilidad_tag

- if @lista.notas.present?
  .row-fluid
    .span12
      = lista.notas_con_formato

.row-fluid
  .span12
    - if @versiones.any?
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @versiones,
                          paginar: true }
    - else
      = lista_vacia

.row-fluid.botones
  .span12
    - if can? :edit, @lista
      = link_to 'Editar', edit_usuario_lista_path(@usuario, @lista),
        class: 'btn btn-warning'
    - if can? :delete, @lista
      = link_to 'Eliminar', [@usuario, @lista], method: :delete,
        data: { confirm: t(:confirmar) }, class: 'btn btn-danger'

    = link_to otras_listas, usuario_listas_path(@usuario), class: 'btn'
