%h1= titulo
.hero-unit
  %blockquote
    %p
      Bienvenido mortal a la Biblioteca del Éter. En sus infinitos archivos,
      encontrarás la suma del saber que los
      = link_to 'demonios', buscar_demonios, method: :post
      trajeron con ellos cuando irrumpieron gloriosamente en este mundo.
    %p
      Ten cuidado, pues hay
      = link_to 'quienes', carta_path('bibliotecarios-estimulados')
      pierden la cordura explorando sus tomos exquisitamente
      = link_to 'decorados...', artistas_path
    %small Homúnculo de la biblioteca

.row-fluid
  .span4
    %h3 Expansiones grandes
    %ul.menu.nav.nav-list.nav-stacked
      - expansiones.order(:lanzamiento).grandes.each do |e|
        %li= link_to e.nombre, e
      %li= link_to '...todas las expansiones', expansiones_path

  .span4
    %h3 Artistas más prolíficos
    %ul.menu.nav.nav-list.nav-stacked
      - artistas.top5.each do |a|
        %li= link_to a.nombre, a
      %li= link_to '...todos los artistas', artistas_path

  .span4
    %h3 Últimas cartas subidas
    %ul.menu.nav.nav-list.nav-stacked
      - cartas.ultimas.limit(5).each do |c|
        %li= link_to c.nombre, c
      %li= link_to '...todas las cartas', cartas_path
