.hero-unit
  %p
    = link_to 'Inferno', 'http://playinferno.com'
    es &copy; de OMG! entretenimiento. Este sitio es &copy; de
    != "#{link_to 'La Inventoría', 'http://lainventoria.com.ar'},"
    y fue hecho principalmente con
    != "#{link_to 'Ruby on Rails', 'http://rubyonrails.org'},"
    = link_to 'Bootstrap', 'http://twitter.github.com/bootstrap'
    y mucho mucho
    != "#{link_to 'Software libre', 'https://es.wikipedia.org/wiki/Software_libre'}."
    La imagen de los fuegos del infierno es de
    != "#{link_to 'WebTreats', 'http://webtreats.mysitemyway.com/5-abstract-inferno-seamless-textures/'}."
  %p
    Gracias a los infernales del
    = link_to 'foro', 'http://foro.playinferno.com'
    que copiaron todas las cartas en planillas de cálculo (de donde sacamos
    los textos), y gracias al staff de
    = link_to 'Inferno', 'http://playinferno.com'
    por poner a disposición las imágenes de las cartas.
