%h1= titulo

-# TODO hacer que funcione sin js
%ul.nav.nav-tabs{data: { tabs: true }}
  %li.active
    %a{href: '#panel', data: { toggle: 'tab'}} Panel
  %li
    %a{href: '#carnet', data: { toggle: 'tab'}} Carnet

.tab-content

  #panel.tab-pane.active
    .row-fluid
      .span4
        .pull-left= link_to 'Todas tus cartas', coleccion_path
        .pull-right= coleccion_actual.cantidad

      .span4
        .pull-left= link_to 'Tu reserva', reserva_path
        .pull-right= reserva_actual.cantidad

      .span4
        .pull-left
          = link_to('Faltantes', faltantes_coleccion_path)
          = '/'
          = link_to('Sobrantes', sobrantes_coleccion_path)
        .pull-right= "#{usuario.cantidad_faltante}/#{usuario.cantidad_sobrante}"

    .row-fluid
      .span4
        %h2 Listas
        - @usuario.listas.normales.each do |lista|
          .row-fluid.span12
            .pull-left= link_to lista.nombre, [usuario, lista]
            .pull-right= lista.cantidad

      -# TODO agregar las 2 columnas que faltan

    - if can? :create, Lista
      .row-fluid
        .span12= link_to 'Crear lista', new_usuario_lista_path(usuario),
          class: 'btn btn-success'

  #carnet.tab-pane
    = render 'devise/shared/edit_registrations'
