%h1= titulo
.row-fluid
  #usuarios
    = form_for  resource, as: resource_name, url: password_path(resource_name),
                html: { class: 'form-horizontal span12', method: :post } do |f|

      = devise_error_messages!

      .control-group
        = f.label :email, class: 'control-label'
        .controls
          = f.email_field :email, required: true, class: 'span4'

      = render partial: 'devise/shared/cerrar_form',
          locals: { f: f, boton: t('.submit') }
