= form_for @expansion do |f|

  = f.error_messages

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :lanzamiento
    = f.date_select :lanzamiento
  .field
    = f.label :presentacion
    = f.date_select :presentacion
  .field
    = f.label :notas
    = f.text_area :notas
  .field
    = f.label :saga
    = f.text_field :saga
  .field
    = f.label :total
    = f.number_field :total
  .actions
    = f.submit 'Save'
