= form_for expansion, html: { class: 'form expansion', multipart: true } do |f|
  = f.error_messages

  .row-fluid
    .span3
      = f.label :nombre
      = f.text_field :nombre, class: 'span12', required: true, autofocus: true
    .span3
      = f.label :codigo
      = f.text_field :codigo, class: 'span12'
    .span3
      = f.label :total, 'Cantidad de cartas'
      = f.number_field :total, class: 'span12'
    .span3
      = f.label :saga
      = f.autocomplete_field :saga, valores_expansion_saga_path,
        class: 'span12'

  .row-fluid
    .span6
      = f.label :logo
      = f.file_field :logo, class: 'span12'
    .span3
      = f.label :lanzamiento
      = f.text_field :lanzamiento, class: 'fecha span12'
    .span3
      = f.label :presentacion
      = f.text_field :presentacion, class: 'fecha span12'

  .row-fluid
    .span12
      = f.label :formatos, 'Formatos donde es legal'
      = f.collection_select :formato_ids, Formato.where(tipo: 'Abierto'), :id, :nombre,
        { }, { multiple: true, class: 'span12', title: 'Ninguno' }

  .row-fluid
    .span12
      = f.label :notas
      = f.text_area :notas, class: 'span12'

  .row-fluid.botones
    .span12
      = f.submit 'Guardar', class: 'btn btn-success'
