= form_for @expansion do |f|
  - if @expansion.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expansion.errors.count, "error")} prohibited this expansion from being saved:"
      %ul
        - @expansion.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :lanzamiento
    = f.date_select :lanzamiento
  .field
    = f.label :presentacion
    = f.date_select :presentacion
  .field
    = f.label :notas
    = f.text_area :notas
  .field
    = f.label :saga
    = f.text_field :saga
  .field
    = f.label :total
    = f.number_field :total
  .actions
    = f.submit 'Save'
