#lista
  #paginacion.pagination.pagination-centered
    = paginate @expansiones, remote: true

  #expansiones.tabla-fluida
    #encabezado.row-fluid
      .nombre.span3= sort_link @busqueda, :nombre
      .lanzamiento.span2= sort_link @busqueda, :lanzamiento
      .presentacion.span2= sort_link @busqueda, :presentacion, 'Presentación'
      .saga.span2= sort_link @busqueda, :saga
      .total.span1= sort_link @busqueda, :total, 'Cartas'
      .acciones.span2

    - @expansiones.each do |expansion|
      .row-fluid{class: cycle('even', 'odd')}
        .nombre.span3= expansion.nombre
        .lanzamiento.span2= l(expansion.lanzamiento) if expansion.lanzamiento?
        .presentacion.span2= l(expansion.presentacion) if expansion.presentacion
        .saga.span2= expansion.saga
        .total.span1= expansion.total
        .acciones.span2
          - # Aparecen al revés de como están dispuestas por el .pull-right
          - if can? :destroy, expansion
            .pull-right= link_to_eliminar expansion
          - if can? :edit, expansion
            .pull-right= link_to_editar edit_expansion_path(expansion)
          - if can? :read, expansion
            .pull-right= link_to_mostrar expansion

  - if can? :create, Expansion
    = link_to 'Crear nueva expansión', new_expansion_path
