%h1= @titulo

%table
  %tr
    %th Nombre
    %th Lanzamiento
    %th Presentacion
    %th Saga
    %th Cantidad de cartas
    %th.acciones

  - @expansiones.each do |expansion|
    %tr
      %td= expansion.nombre
      %td= expansion.lanzamiento
      %td= expansion.presentacion
      %td= expansion.saga
      %td= expansion.total
      %td.acciones
        = link_to 'Mostrar', expansion
        = link_to 'Editar', edit_expansion_path(expansion)
        = link_to 'Eliminar', expansion, method: :delete,
          data: { confirm: t(:confirmar) }

- if can? :create, Expansion
  = link_to 'Nueva expansión', new_expansion_path
