#lista
  %h1= @titulo

  #paginacion
    = paginate @expansiones, remote: true

  %table#expansiones.table.table-striped.table-condensed.table-hover
    %colgroup
      %col#nombre
      %col#lanzamiento
      %col#presentacion
      %col#saga
      %col#total
      %col#acciones
    %thead
      %tr
        %th.nombre        Nombre
        %th.lanzamiento   Lanzamiento
        %th.presentacion  Presentacion
        %th.saga          Saga
        %th.total         Total de cartas
        %th.acciones

    %tbody
      - @expansiones.each do |expansion|
        %tr
          %td.nombre= expansion.nombre
          %td.lanzamiento= expansion.lanzamiento
          %td.presentacion= expansion.presentacion
          %td.saga= expansion.saga
          %td.total= expansion.total
          %td.acciones
            - # Aparecen al revés de como están dispuestas por el .pull-right
            - if can? :destroy, expansion
              .pull-right= link_to_eliminar expansion
            - if can? :edit, expansion
              .pull-right= link_to_editar edit_expansion_path(expansion)
            - if can? :read, expansion
              .pull-right= link_to_mostrar expansion

  - if can? :create, Expansion
    = link_to 'Crear nueva expansión', new_expansion_path
