%h1= titulo
#lista
  = paginacion_tag @expansiones

  #expansiones.tabla-fluida
    .encabezado.row-fluid
      .nombre.span4= sort_link @busqueda, :nombre, opciones_de_ordenar
      .lanzamiento.span2.hidden-phone= sort_link @busqueda, :lanzamiento, opciones_de_ordenar
      .presentacion.span2.visible-desktop= sort_link @busqueda, :presentacion, 'Presentación',
        opciones_de_ordenar
      .saga.span3.hidden-phone= sort_link @busqueda, :saga, opciones_de_ordenar
      .total.span1.hidden-phone= sort_link @busqueda, :total, 'Cartas', opciones_de_ordenar

    = render @expansiones

  .row-fluid.botones
    .span12
      - if can? :create, Expansion
        = link_to 'Cargar expansión', new_expansion_path,
          class: 'btn btn-info'
