#lista
  = paginacion_tag @expansiones

  #expansiones.tabla-fluida
    #encabezado.row-fluid
      .nombre.span4= sort_link @busqueda, :nombre
      .lanzamiento.span2= sort_link @busqueda, :lanzamiento
      .presentacion.span2= sort_link @busqueda, :presentacion, 'Presentación'
      .saga.span3= sort_link @busqueda, :saga
      .total.span1= sort_link @busqueda, :total, 'Cartas'

    - @expansiones.each do |expansion|
      .row-fluid{class: cycle('even', 'odd')}
        .nombre.span4
          - if can? :read, expansion
            = link_to_mostrar expansion, expansion.nombre
          - else
            = expansion.nombre
        .lanzamiento.span2= l(expansion.lanzamiento) if expansion.lanzamiento?
        .presentacion.span2= l(expansion.presentacion) if expansion.presentacion
        .saga.span3= expansion.saga
        .total.span1= expansion.total

  = paginacion_tag @expansiones, id: 'paginacion-inferior'

  - if can? :create, Expansion
    = link_to 'Crear nueva expansión', new_expansion_path
