%h1= @titulo

.row-fluid
  .span12
    %h2.plegable Datos sobre la expansión
    %dl
      - if @expansion.lanzamiento?
        %dt Lanzamiento
        %dd= @expansion.lanzamiento
      - if @expansion.presentacion?
        %dt Presentación
        %dd= @expansion.presentacion
      - if @expansion.saga?
        %dt Saga
        %dd= @expansion.saga
      - if @expansion.total?
        %dt Total
        %dd= @expansion.total
      - if @expansion.notas?
        %dt Notas
        %dd!= @expansion.notas
.row-fluid
  .span12
    %h2.plegable Lista de cartas
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @expansion.versiones }

.btn= link_to 'Otras expansiones', expansiones_path
