%p#notice= notice

%p
  %b Nombre:
  = @expansion.nombre
- if @expansion.lanzamiento?
  %p
    %b Lanzamiento:
    = @expansion.lanzamiento
- if @expansion.presentacion?
  %p
    %b Presentacion:
    = @expansion.presentacion
- if @expansion.notas?
  %p
    %b Notas:
    != @expansion.notas
- if @expansion.saga?
  %p
    %b Saga:
    = @expansion.saga
%p
  %b Total:
  = @expansion.total

= link_to 'Edit', edit_expansion_path(@expansion)
\|
= link_to 'Back', expansiones_path
