%h1= @titulo

.row-fluid
  .span3
    %dl
      - if @expansion.lanzamiento?
        %dt Lanzamiento
        %dd= @expansion.lanzamiento
      - if @expansion.presentacion?
        %dt Presentación
        %dd= @expansion.presentacion
      - if @expansion.saga?
        %dt Saga
        %dd= @expansion.saga
      %dt Total
      %dd= @expansion.total
      - if @expansion.notas?
        %dt Notas
        %dd!= @expansion.notas
  .span9.galeria
    %ul.thumbnails
    - @expansion.versiones.each do |v|
      = v.link :thumb, class: 'thumbnail span3'

.btn= link_to 'Todas', expansiones_path
