%h1= t('forem.admin.group.index')

#groups.tabla-fluida
  .encabezado.row-fluid
    .span10.nombre Nombre
    .span2.miembros.hidden-phone Miembros

  - @groups.each do |group|
    .row-fluid
      .span10.nombre
        = link_to_eliminar forem.admin_group_path(group), ''
        = link_to_editar forem.admin_group_path(group), ''
        = link_to_mostrar forem.admin_group_path(group), forem_emojify(group.name)
      .span2.miembros.hidden-phone
        = group.memberships.count

.row-fluid.botones
  .span12
    = link_to t('back_to_admin', scope: "forem.admin"), forem.admin_root_path,
      class: 'btn'
    = link_to t('forem.admin.group.new'), forem.new_admin_group_path,
      class: "btn btn-info"
