%h1= t('forem.admin.group.index')

#groups.tabla-fluida
  .encabezado.row-fluid
    .span10.nombre Nombre
    .span2.miembros.hidden-phone Miembros

  - @groups.each do |group|
    .row-fluid
      .span10.nombre
        .acciones-group
          = link_to forem.admin_group_path(group), method: :delete,
            title: t('delete', scope: 'forem.admin.groups'),
            data: { confirm: t("confirmar") } do
            %i.icon-remove
          -# editar y mostrar son la misma vista
          = link_to forem.admin_group_path(group),
            title: t('edit', scope: 'forem.admin.forums') do
            %i.icon-pencil
            .texto= forem_emojify(group.name)

      .span2.miembros.hidden-phone
        = group.memberships.count

.row-fluid.botones
  .span12
    = link_to t('forem.admin.group.new'), forem.new_admin_group_path,
      class: "btn btn-info"
    = link_to t('back_to_admin', scope: "forem.admin"), forem.admin_root_path,
      class: 'btn'
    = link_to t(:back_to_forums, scope: 'forem.admin'), forem.root_path,
      class: 'btn'
