%h1= t('forem.admin.group.members', group: forem_emojify(@group.name))

-# TODO que funcione sin js
= form_tag add_admin_group_members_url(@group) do
  .row-fluid
    .span5
      = label_tag :user, t('.add_a_new_member')
      = hidden_field_tag 'user_id'
      = autocomplete_field_tag 'usuario', '', main_app.sugerir_usuarios_path,
        id_element: '#user_id', class: 'span12'
      = submit_tag t(".add_member"), class: "btn btn-success"

    .span6.tabla-fluid
      = label_tag t('.current_members')
      - if @group.members.any?
        #members
          - @group.members.each do |member|
            .row-fluid
              .span1.iconos
                = link_to admin_group_member_url(@group, member),
                  title: t('forem.admin.groups.show.remove_member'),
                  method: :delete, confirm: t('confirmar') do
                  %i.icon-remove
              .span11
                = link_to member, member.nick
      - else
        .row-fluid
          .span12 Ninguno

.row-fluid
  .span12
    = link_to t('back_to_groups', scope: "forem.admin"), admin_groups_path,
      class: 'btn'
