= form_for @artista do |f|
  - if @artista.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artista.errors.count, "error")} prohibited this artista from being saved:"
      %ul
        - @artista.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .actions
    = f.submit 'Save'
