#lista
  #paginacion.pagination.pagination-centered
    = paginate @artistas, remote: true

  #artistas.tabla-fluida
    #encabezado.row-fluid
      .nombre.span6 Nombre
      .cantidad.span3 Cantidad de ilustraciones
      .acciones.span3

    - @artistas.each do |artista|
      .row-fluid{class: cycle('even', 'odd')}
        .nombre.span6= artista.nombre
        .cantidad.span3= artista.cantidad
        .acciones.span3
          - # Aparecen al revés de como están dispuestas por el .pull-right
          - if can? :destroy, artista
            .pull-right= link_to_eliminar artista
          - if can? :edit, artista
            .pull-right= link_to_editar edit_artista_path(artista)
          - if can? :read, artista
            .pull-right= link_to_mostrar artista

  - if can? :create, Artista
    = link_to 'Cargar Artista', new_artista_path
