#lista
  %h1= @titulo

  #paginacion
    = paginate @artistas, remote: true

  %table#artistas.table.table-striped.table-condensed.table-hover
    %colgroup
      %col#nombre
      %col#cantidad
      %col#acciones
    %thead
      %tr
        %th Nombre
        %th Cantidad de ilustraciones
        %th

    %tbody
      - @artistas.each do |artista|
        %tr
          %td.nombre= artista.nombre
          %td.cantidad= artista.ilustraciones.size
          %td
            - if can? :read, artista
              = link_to 'Mostrar', artista
            - if can? :edit, artista
              = link_to 'Editar', edit_artista_path(artista)
            - if can? :destroy, artista
              = link_to 'Eliminar', artista, method: :delete,
                data: { confirm: t(:confirmar) }

  - if can? :create, Artista
    = link_to 'Cargar Artista', new_artista_path
