%h1= titulo
#lista
  = paginacion_tag @artistas

  #artistas.tabla-fluida
    #encabezado.row-fluid
      .nombre.span8= sort_link @busqueda, :nombre, 'Nombre',
        opciones_de_ordenar
      .cantidad.span4.hidden-phone= sort_link @busqueda, :cantidad,
        'Ilustraciones', opciones_de_ordenar

    = render @artistas

  - if can? :create, Artista
    = link_to 'Cargar Artista', new_artista_path
