%h1 Listing artistas

%table
  %tr
    %th Nombre
    %th Web
    %th
    %th
    %th

  - @artistas.each do |artista|
    %tr
      %td= artista.nombre
      %td= artista.web
      %td= link_to 'Show', artista
      %td= link_to 'Edit', edit_artista_path(artista)
      %td= link_to 'Destroy', artista, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Artista', new_artista_path
