%h1= titulo
.row-fluid
  .span12
    %h2.plegable Datos
    %dl.dl-horizontal
      - if @artista.ilustraciones.size > 0
        %dt Ilustraciones
        %dd= @artista.ilustraciones.size
      - if @artista.links.any?
        %dt Links
        - @artista.links.each do |l|
          %dd= link_to l.nombre, l.url

- if @artista.ilustraciones.size > 0
  .row-fluid
    .span12
      %h2.plegable Galería
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @ilustraciones,
                          paginar: true }

= link_to 'Otros artistas', artistas_path, class: 'btn'
