%h1= titulo
.row-fluid
  #artista.span12
    %p Ha colaborado con #{t '.ilustraciones', count: @artista.ilustraciones.size} de Inferno.
    - if @artista.links.any?
      %ul.links.nav.nav-pills
        .pull-left Páginas relacionadas:
        = render @artista.links

- if @artista.ilustraciones.size > 0
  .row-fluid
    .span12
      %h2 Galería
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @ilustraciones,
                          paginar: true }

.row-fluid.botones
  .span12
    - if can? :edit, @artista
      = link_to 'Editar',
        edit_artista_path(@artista), class: 'btn btn-warning'
    = link_to 'Otros artistas', artistas_path, class: 'btn'
    - if can? :destroy, @artista
      = link_to 'Eliminar', @artista, method: :delete,
        data: { confirm: t(:confirmar) }, class: 'btn btn-danger'
