%h1= titulo
.row-fluid
  #artista.span12
    %p Ha colaborado con #{t '.ilustraciones', count: @artista.ilustraciones.size} de Inferno.
    - if @artista.links.any?
      %ul.links.nav.nav-pills
        .pull-left Páginas relacionadas:
        = render @artista.links

- if @artista.ilustraciones.size > 0
  .row-fluid
    .span12
      %h2.plegable Galería
      = render  partial: 'layouts/galeria',
                locals: { imagenes: @ilustraciones,
                          paginar: true }

.row-fluid.botones
  .span12= link_to 'Otros artistas', artistas_path, class: 'btn'
