%h1= @titulo

.row-fluid
  .span3
    %dl
      %dt Links
      - if @artista.links.any?
        - @artista.links.each do |l|
          %dd= link_to l.nombre, l.url
      - else
        %dd= I18n.t('artistas.sin_links')
  .span9.galeria
    - # TODO arreglar grid
    - @artista.ilustraciones.each do |i|
      = i.link :thumb, class: 'thumbnail span3'

.btn= link_to 'Artistas', artistas_path
