= form_for torneo.preparar, html: { class: 'form torneo' } do |f|
  = f.error_messages

  .row-fluid
    .span4
      = f.label :fecha
      = f.text_field :fecha, class: 'fecha span12'
    .span4
      = f.label :formato, 'Formato al que apuntás'
      = f.collection_select :formato_id, Formato.all, :id, :nombre,
        { include_blank: true }, class: 'span12', title: 'Indefinido'
    .span4
      = f.label :juez_principal
      = f.autocomplete_field :juez_principal, valores_torneo_juez_principal_path,
        class: 'span12'

  .row-fluid
    .span4
      = f.label :lugar, "Lugar o tienda"
      = f.text_field :lugar, class: 'span12'
    .span8
      = f.label :direccion
      = f.text_field :direccion, class: 'span12'

  .nestear
    .row-fluid
      .span12.items
        %h2 Inscriptos
        .row-fluid
          .span2.offset1= f.label :codigo
          .span9= f.label :nombre
        = f.nested_fields_for :inscripciones, show_empty: true,
          render_template: false do |fi|
          - if fi
            .item= render partial: 'inscripcion',
              locals: { f: fi }
          - else
            .empty Nadie todavía

        = nested_fields_templates

    .row-fluid
      .span1
        = link_to '+', '#', class: 'add btn', data: no_turbolink

  .row-fluid.botones
    .span12
      = f.submit 'Guardar', class: 'btn btn-success'
