- cache torneo do
  .row-fluid
    .fecha.span2
      = link_to_mostrar torneo, l(torneo.fecha)
    .organizador.span2= torneo.organizador_link
    .tienda.span4= torneo.tienda_nombre
    .formato.span2= torneo.formato_nombre
    .estado.span2= torneo.estado
