%h1= titulo

#estados.row-fluid
  .span2
    .texto Con alguno de los estados
  .span8
    .row-fluid= filtros_de_estado
  .span2
    = link_to 'Todos', torneos_path, class: 'btn btn-success'

#lista
  = paginacion_tag @torneos

  #torneos.tabla-fluida
    #encabezado.row-fluid
      .fecha.span4= sort_link @busqueda, :fecha, opciones_de_ordenar
      .tienda.span4= sort_link @busqueda, :tienda_id, opciones_de_ordenar
      .formato.span2= sort_link @busqueda, :formato, opciones_de_ordenar
      .estado.span2= sort_link @busqueda, :estado, opciones_de_ordenar

    = render @torneos

  .row-fluid.botones
    .span12
      - if can? :create, Torneo
        = link_to 'Crear torneo', new_torneo_path,
          class: 'btn btn-info'
