%h1= titulo

#posiciones
  .row-fluid.encabezados
    .posicion.span1 Posición
    .puntos.span1.hidden-phone Puntos
    .partidas.span1.hidden-phone Partidas
    .span9 Nombre

  - torneo.posiciones.each.with_index 1 do |participante, posicion|
    .row-fluid
      .posicion.span1= posicion
      .puntos.span1.hidden-phone= participante.puntaje
      .partidas.span1.hidden-phone= participante.partidas
      .span9= participante.decorate.nombre_o_usuario

.row-fluid.botones
  .span12
    - if can? :delete, torneo
      = link_to 'Anterior', ronda_torneo_path(torneo, torneo.ultima_ronda),
        method: :delete, data: { confirm: t('.cancelar') },
        class: 'btn btn-danger'
    - if torneo.quedan_rondas?
      - if can? :edit, torneo
        = link_to 'Siguente', nueva_ronda_torneo_path(torneo),
          class: 'btn btn-success'
    - if can? :read, torneo
      = link_to 'Este torneo', torneo, class: 'btn'
    - if can? :read, Torneo
      = link_to 'Otros torneos', torneos_path, class: 'btn'
