%h1= titulo

.row-fluid
  .span4
    %h2 Detalles
    %dl.dl-horizontal
      %dt organiza
      %dd= link_to torneo.organizador.nick, torneo.organizador
      - if torneo.juez_principal?
        %dt y juecea
        %dd= torneo.juez_principal
      %dt se juega
      %dd= link_to torneo.formato_nombre, torneo.formato
      %dt en
      %dd= torneo.tienda_nombre
      - if torneo.tienda.direccion?
        %dt que está en
        %dd= torneo.direccion
      %dt el
      %dd= l torneo.fecha

  .span8
    - if torneo.rondas.any?
      %h2 Posiciones finales después de #{torneo.ultima_ronda} rondas
      = render partial: 'posiciones', locals: { ronda: torneo.ultima_ronda }
    - else
      %h2 Preinscriptos
      = torneo.preinscriptos

.row-fluid.botones
  .span12
    - if can? :edit, torneo
      = link_to 'Editar', edit_torneo_path(torneo),
        class: 'btn btn-warning'
    - if can?(:delete, torneo) && torneo.can_deshacer?
      = link_to 'Anterior', ultima_ronda_torneo_path(torneo), method: :delete,
        data: { confirm: t('.cancelar') }, class: 'btn btn-danger'
    - if torneo.quedan_rondas?
      - if can? :edit, torneo
        = link_to 'Siguiente', nueva_ronda_torneo_path(torneo),
          class: 'btn btn-success'
    - else
      - if can? :read, torneo
        = link_to 'Posiciones', ronda_torneo_path(torneo, torneo.ultima_ronda),
          class: 'btn btn-success'
    = link_to 'Otros torneos', torneos_path, class: 'btn'
    - if can? :destroy, torneo
      = link_to 'Eliminar', torneo, method: :delete,
        data: { confirm: t(:confirmar) }, class: 'btn btn-danger'
