%h1= titulo
%h2 Todas las versiones

#versiones
  .row-fluid
    .span12
      %ul.versiones
        - @versiones.each do |v|
          %li
            .icon-arrow-right
            = link_to "de #{v.expansion}", "##{v.slug}"

  .row-fluid
    - @versiones.each do |v|
      .span6
        .expansion{id: v.slug}
          %h3.plegable= v.expansion
          = render  partial: 'layouts/galeria',
                    locals: { imagenes: v.imagenes,
                              estilo: :original }
  .row-fluid
    .span12= link_to 'Volver a la carta', @carta, class: 'btn'
