%h1= titulo
.row-fluid
  #carta.span5
    .row-fluid
      .span12
        %h2 Texto de esta versión
        = render  partial: 'versiones/version_textual', object: @version
      - if @version.links.any?
        .span12
          %h2 Links
          %ul.links
            - @version.links.each do |link|
              %li
                .icon-arrow-right
                = render link

  .span7
    %h2 Imágenes
    = render  partial: 'layouts/galeria',
              locals: { imagenes: @version.imagenes,
                        estilo: :original }

= link_to 'Volver a la carta', @carta, class: 'btn'
