%h1= titulo

%ul.nav.nav-tabs
  %li
    = link_to 'Panel', panel_usuario_path(@usuario)
  %li.active
    = link_to 'Carnet', carnet_usuario_path(@usuario)
  %li
    = link_to 'Avatar', avatar_usuario_path(@usuario)

#carnet.tab-pane.active
  = render partial: 'devise/shared/edit_registrations',
    locals: { requisitos: [] }
