%h1= titulo

%ul.nav.nav-tabs{data: { tabs: true }}
  %li.active
    = link_to 'Panel', panel_usuario_path(@usuario),
      data: { target: '#panel', toggle: 'tab' }
  %li
    = link_to 'Carnet', carnet_usuario_path(@usuario),
      data: { target: '#carnet', toggle: 'tab' }
  %li
    = link_to 'Avatar', avatar_usuario_path(@usuario),
      data: { target: '#avatar', toggle: 'tab' }

.tab-content
  #panel.tab-pane.active
    = render partial: 'panel'

  #carnet.tab-pane
    = render partial: 'devise/shared/edit_registrations',
      locals: { requisitos: [] }

  #avatar.tab-pane
    = render partial: 'avatar'
