#usuario
  .tabbable.tabs-right
    %ul#tabs-perfil.nav.nav-tabs{data: { tabs: true }}
      %li.active
        = link_to 'Panel', panel_usuario_path(@usuario),
          data: { target: '#panel', toggle: 'tab' }
      - if can? :update, @usuario
        %li
          = link_to 'Carnet', carnet_usuario_path(@usuario),
            data: { target: '#carnet', toggle: 'tab' }
        %li
          = link_to 'Avatar', avatar_usuario_path(@usuario),
            data: { target: '#avatar', toggle: 'tab' }

    #content-perfil.tab-content
      #panel.tab-pane.active
        = render partial: 'panel'

      #carnet.tab-pane
        = render partial: 'carnet'

      #avatar.tab-pane
        = render partial: 'avatar'
