= form_for [current_usuario, mazo.preparar], html: { class: 'form lista' } do |f|
  = f.error_messages

  .row-fluid
    .span6
      = f.label :nombre
      = f.text_field :nombre, class: 'span12', required: true, autofocus: true
    .span4
      = f.label :formato_objetivo, 'Formato al que apuntás'
      = f.collection_select :formato_objetivo_id, Formato.all, :id, :nombre,
        { include_blank: true }, class: 'span12', title: 'Indefinido'
    .span1
      = f.label :exigir_formato, '¿Legal?'
      = f.check_box_bootstrap :exigir_formato, class: 'span12'
    .span1
      = f.label :visible
      = f.check_box_bootstrap :visible, class: 'span12'

  .nestear
    .row-fluid
      .span12.items
        = f.label :demonios
        = f.nested_fields_for :slots, new_object: nuevo_slot(@mazo, 1),
          show_empty: true, render_template: false do |fs|
          - if fs
            .item= render partial: 'slots/slot',
              locals: { f: fs, path: sugerir_cartas_path(:demonios) }
          - else
            .empty Nada cargado

        = nested_fields_templates

    .row-fluid
      .span1
        = link_to '+', '#', class: 'add btn', data: no_turbolink

  .row-fluid
    .span12
      = f.label :principal
      = f.fields_for :principal do |fp|
        .nestear
          .row-fluid
            .span12.items
              = fp.nested_fields_for :slots, new_object: nuevo_slot(@mazo.principal),
                  show_empty: true, render_template: false do |fps|
                - if fps
                  -# TODO filtrar los demonios
                  .item= render partial: 'slots/slot',
                    locals: { f: fps, path: sugerir_cartas_path(:canonicas) }
                - else
                  .empty Nada cargado

              = nested_fields_templates

          .row-fluid
            .span1
              = link_to '+', '#', class: 'add btn', data: no_turbolink

  .row-fluid
    .span12
      = f.label :suplente
      = f.fields_for :suplente do |fs|
        .nestear
          .row-fluid
            .span12.items
              = fs.nested_fields_for :slots, new_object: nuevo_slot(@mazo.suplente),
                  show_empty: true, render_template: false do |fss|
                - if fss
                  -# TODO filtrar los demonios
                  .item= render partial: 'slots/slot',
                    locals: { f: fss, path: sugerir_cartas_path(:canonicas) }
                - else
                  .empty Nada cargado

              = nested_fields_templates

          .row-fluid
            .span1
              = link_to '+', '#', class: 'add btn', data: no_turbolink

  .row-fluid.botones
    .span12
      = f.submit 'Guardar', class: 'btn btn-success'
