-# Si estamos en la vista de todos los mazos, hay un link al usuario
- cache [params[:action], mazo] do
  .row-fluid
    .nombre.span3
      = link_to_mostrar [mazo.usuario, mazo], mazo.nombre
    .demonio.span3= mazo.link_a_demonios
    - if params[:action] == 'todo'
      .usuario.span2= link_to mazo.usuario.nick, mazo.usuario
    - else
      .visibilidad.span2= mazo.visibilidad_tag
    .formato.span2= mazo.link_al_formato
    .cantidad.span1= mazo.principal_cantidad
    .cantidad.span1= mazo.suplente_cantidad
