- cache mazo do
  .row-fluid
    .nombre.span3
      - if can? :update, mazo
        = link_to_editar edit_usuario_mazo_path(@usuario, mazo), ''
      - if can? :delete, mazo
        = link_to_eliminar [@usuario, mazo], ''
      = link_to_mostrar [@usuario, mazo], mazo.nombre
    .demonio.span3= mazo.link_a_demonios
    .visibilidad.span2= mazo.visibilidad_tag
    .formato.span2= mazo.link_al_formato
    .cantidad.span1= mazo.principal_cantidad
    .cantidad.span1= mazo.suplente_cantidad
