- cache mazo do
  .row-fluid
    .nombre.span10
      - if can? :update, mazo
        = link_to_editar edit_usuario_mazo_path(@usuario, mazo), ''
      - if can? :delete, mazo
        = link_to_eliminar [@usuario, mazo], ''

      - if can? :read, mazo
        = link_to_mostrar [@usuario, mazo], mazo.nombre
      - else
        = mazo.nombre
    .cantidad.span2= mazo.cantidad
