%h1= titulo
#lista
  - if @mazos.any?
    = paginacion_tag @mazos

    #listas.tabla-fluida
      #encabezado.row-fluid
        .nombre.span4= sort_link @busqueda, :nombre, 'Nombre',
          opciones_de_ordenar
        .visibilidad.span2= sort_link @busqueda, :formato, 'Visibilidad',
          opciones_de_ordenar
        .formato.span2= sort_link @busqueda, :formato, 'Formato',
          opciones_de_ordenar
        .cantidad.span2 Mazo principal
        .cantidad.span2 Mazo suplente

      = render partial: 'mazo', collection: @mazos
  - else
    .hero-unit
      %blockquote
        %p Este ala de la biblioteca parece estar vacío...
        %small Homúnculo de la biblioteca

  .row-fluid.botones
    .span12
      - if can? :create, Mazo
        = link_to 'Crear un mazo', new_usuario_mazo_path(current_usuario),
          class: 'btn btn-info', data: no_turbolink
