%h1= titulo
#lista
  = paginacion_tag @mazos

  #listas.tabla-fluida
    #encabezado.row-fluid
      .nombre.span10= sort_link @busqueda, :nombre, 'Nombre',
        opciones_de_ordenar
      .cantidad.span2 Cantidad

    = render partial: 'mazo', collection: @mazos

  .row-fluid.botones
    .span12
      - if can? :create, Mazo
        = link_to 'Crear un mazo', new_usuario_mazo_path(current_usuario),
          class: 'btn btn-info', data: no_turbolink
