%h1= titulo
%h2= mazo.formato
.row-fluid
  #mazo.span12

    %h3 Mazo principal (#{mazo.principal_cantidad})

    - @mazo.slots.contados.each do |slot|
      = render partial: 'parte_del_mazo',
          locals: { slot: slot.decorate }

    - @mazo.principal.slots.contados.each do |slot|
      = render partial: 'parte_del_mazo',
          locals: { slot: slot.decorate }

    - if @mazo.suplente.present?
      - reiniciar_separador
      %h3 Mazo suplente (#{mazo.suplente_cantidad})
      - @mazo.suplente.slots.contados.each do |slot|
        = render partial: 'parte_del_mazo',
            locals: { slot: slot.decorate }

.row-fluid.botones
  .span12
    - if can? :edit, @mazo
      = link_to 'Editar', edit_usuario_mazo_path(@usuario, @mazo),
        class: 'btn btn-warning'
    - if can? :delete, @mazo
      = link_to 'Eliminar', [@usuario, @mazo], method: :delete,
        data: { confirm: t(:confirmar) }, class: 'btn btn-danger'

    = link_to 'Para torneo', usuario_mazo_path(@usuario, @mazo, format: :ficha),
      class: 'btn btn-info'

    = link_to 'Otros mazos', usuario_mazos_path(@usuario), class: 'btn'
