- cache mazo do
  %h1= titulo
  .row-fluid
    #lista.mazo.span5

      = separador_para 'Demonio'
      .row-fluid
        .slot.span12 #{link_to mazo.demonio.nombre, "##{mazo.demonio.carta.slug}"}

      - @mazo.versiones.contadas.order(:tipo).each do |v|
        = separador_para v.tipo.pluralize
        .row-fluid
          .slot.span12 #{v.cantidad} x #{link_to v.nombre, "##{v.carta.slug}"}

    #mazo.galeria.span7
      %ul.thumbs
        %li.original{id: mazo.demonio.carta.slug}
          = mazo.demonio.carta.decorate.link :original, data: no_turbolink
        - mazo.cartas.each do |c|
          %li.original{id: c.slug}
            = c.link :original, data: no_turbolink, class: 'entradas'

  .row-fluid.botones
    .span12
      - if can? :edit, @mazo
        = link_to 'Editar', edit_usuario_mazo_path(@usuario, @mazo),
          class: 'btn btn-warning'
      - if can? :delete, @mazo
        = link_to 'Eliminar', [@usuario, @mazo], method: :delete,
          data: { confirm: t(:confirmar) }, class: 'btn btn-danger'

      = link_to 'Otros mazos', usuario_mazos_path(@usuario), class: 'btn'
