- cache mazo do
  .row-fluid
    #lista.mazo.span5
      %h1= titulo
      - @mazo.versiones.contadas.order(:tipo).each do |v|
        = separador_por_tipo v
        .row-fluid
          .slot.span12 #{v.cantidad} x #{link_to v.nombre, "##{v.carta.slug}"}

    #mazo.galeria.span7
      %ul.thumbs
        - mazo.cartas.each do |c|
          %li.original{id: c.slug}
            = c.link tipo_actual
            - if usuario_signed_in?
              -# TODO tratar de pasar siempre versiones o agregar al decorador
              = c.reserva_y_coleccion if c.respond_to? :reserva_y_coleccion

  - if can? :edit, @mazo
    = link_to 'Editar', edit_usuario_mazo_path(@usuario, @mazo), class: 'btn'
  - if can? :delete, @mazo
    = link_to 'Eliminar', [@usuario, @mazo], method: :delete,
      data: { confirm: t(:confirmar) }, class: 'btn btn-danger'

  = link_to 'Otros mazos', usuario_mazos_path(@usuario), class: 'btn'
