.forum
  = render partial: 'forem/forums/head', locals: { forum: @forum }

  = forem_pages_widget(@topics)

  .topics.tabla-fluida
    .encabezado.row-fluid
      .span1.icon
      .span5.byline= t('forem.topic.headings.topic')
      .span4.latest-post= t('forem.topic.headings.latest')
      .span1.posts-count.text-center= t('forem.topic.headings.posts')
      .span1.views-count.text-center= t('forem.topic.headings.views')

    - if @topics.empty?
      .row-fluid
        .span12= t('forem.topic.none')
    - else
      = render @topics

  = forem_pages_widget(@topics)

  = render partial: 'forem/forums/foot', locals: { forum: @forum }
