.forum
  = render partial: 'forem/forums/head', locals: { forum: @forum }

  = forem_pages_widget(@topics)
  %table.topics.table-striped.table{cellspacing: '0'}
    %thead
      %tr
        %th.icon
        %th.byline= t('forem.topic.headings.topic')
        %th.latest-post= t('forem.topic.headings.latest')
        %th.posts-count= t('forem.topic.headings.posts')
        %th.views-count= t('forem.topic.headings.views')
    %tbody
      - if @topics.empty?
        %tr
          %td{colspan: '5', align: 'center'}= t('forem.topic.none')

      = render @topics

  = forem_pages_widget(@topics)

  = render partial: 'forem/forums/foot', locals: { forum: @forum }
