.navbar-inner
  .container-fluid
    = link_to 'Biblioteca del Éter', :root, class: 'brand'
    %a.btn.btn-navbar{data: { toggle: "collapse", target: ".nav-collapse" }}
      %span.icon-bar.minifuego
      %span.icon-bar.minifuego
      %span.icon-bar.minifuego
    %ul.nav
      %li#buscar
        = search_form_for barra_de_busqueda, url: cartas_busqueda_path,
            html: { method: :post, class: 'form-search navbar-search' } do |s|
          .input-append
            = s.text_field busqueda, class: 'search-query input-small', size: nil
            = s.submit 'Buscar', name: 'navbar', class: 'btn'
        = link_to content_tag(:i, nil, class: "icon-search icon-white"),
            cartas_busqueda_path, class: 'imagen'
    .nav-collapse.collapse
      %ul.nav
        %li= render 'devise/menu/registration_items'
        %li= render 'devise/menu/login_items'
      %ul.nav
        %li.dropdown
          = link_to canon_path, role: 'button', class: 'dropdown-toggle',
          id: 'canon', data: { toggle: "dropdown", target: '#' } do
            Cánon
            %b.caret
          %ul.dropdown-menu{role: 'menu'}
            %li= link_to 'Cartas', cartas_path
            %li= link_to 'Artistas', artistas_path
            %li= link_to 'Expansiones', expansiones_path
            %li.divider
            %li= link_to 'Oficial', 'http://playinferno.com'
      %ul.nav
        %li.dropdown
          = link_to arena_path, role: 'button', class: 'dropdown-toggle',
          id: 'canon', data: { toggle: "dropdown", target: '#' } do
            Arena
            %b.caret
          %ul.dropdown-menu{role: 'menu'}
            %li= link_to 'Torneos', torneos_path
            -# TODO %li= link_to 'Tiendas', tiendas_path
            %li.divider
            %li= link_to 'Ranking', 'http://playinferno.com/index.php/torneos/ranking'
      -# TODO Herejía para todo lo user made
      %ul.nav.pull-right
        %li= link_to 'Legales', legales_path
        %li= link_to 'Cambios', cambios_path
