!!! 5
%html{'xml:lang' => 'es_AR', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= titulo
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag     "application", media: 'all'
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    #contenedor
      #cabecera.navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            = link_to 'Biblioteca del Éter', :root, class: 'brand'
            %ul#cuenta.nav.pull-right
              %li= link_to 'Página oficial', 'http://playinferno.com'
              %li= link_to 'Foros', 'http://foros.playinferno.com'
              - # TODO render 'devise/menu/registration_items'
              - # TODO render 'devise/menu/login_items'
            %ul.nav
              %li#buscar= link_to 'Buscar', buscar_cartas_path
      #cargando.modal.hide.fade
      #contenido.container-fluid
        .row-fluid
          .span3= render 'layouts/barra-lateral'
          .span9
            %h1= @titulo
            = yield
      %footer.navbar.navbar-inverse.navbar-fixed-bottom
        .navbar-inner
          .container-fluid
            %small.muted.nav-text.pull-right
              = link_to 'Inferno', 'http://playinferno.com'
              es &copy; de OMG! entretenimiento.
