!!! 5
%html{'xml:lang' => 'es_AR',  'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %title titulo
    = stylesheet_link_tag     "application", media: 'all'
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    #cabecera
      %ul#cuenta
        = '|'
        = render 'devise/menu/registration_items'
        = '|'
        = render 'devise/menu/login_items'
        = '|'
      #flash!= mensajes(flash)
    #contenido
      = yield
