!!! 5
%html{'xml:lang' => 'es_AR', 'xmlns' => 'http://www.w3.org/1999/xhtml'}
  %head
    %title= titulo
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag     "application", media: 'all'
    = javascript_include_tag  "application"
    = csrf_meta_tags
    = favicon_link_tag image_path('favicon.png'), type: 'image/png'
    = favicon_link_tag image_path('favicon144.png'), type: 'image/png', rel: 'apple-touch-icon'
  %body
    #contenedor
      #cabecera.navbar.navbar-inverse.navbar-fixed-top
        = render 'layouts/cabecera'
      #cargando .
      #contenido.container-fluid
        .row-fluid
          .span12
            %h1= @titulo
            = yield
